@import 'bootstrap_variables.scss';
@import '~bootstrap/scss/bootstrap.scss';

#__layout {
  min-height: 100vh;
}
.material-icons {
  cursor: pointer;
  font-size: 22px;
}
.word-constructor-letter-button {
  height: 50px
}